
.pages-title{
    text-align: center;
}

.pages-title > h1{
    text-align: center;
    color: var(--primary-color);
    padding: 20px;
    margin: 50px 0px 100px 0px;
    background-color: rgba(173, 248, 196, 0.374);
    backdrop-filter: blur(3px);
    border-radius: 100px;
    width: 100%;
}

.pages-title > .orqaga{
    position: absolute;
    top: 190px;
    left: 280px;
}

.cont-kerakli-asboblar > h2{
    text-align: center;
    font-size: var(--font-size-40);
}

/* ? menu kerakli asboblar */
.menu-kerakli-asboblar{
    margin: 100px 0px;
}


/* ? jihoz card */

.jihoz-card{
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 5px rgba(151, 251, 152, 0.881);
    transition: all .3s ease;
    border: 1px solid var(--primary-color);


}
.jihoz-card:hover{
    transform: scale(1.1);

}

.jihoz-card > img{
    width: 100%;
    height: 350px;
}

