

header{
    margin: 70px 0px 50px 0px;
    
}

.logo-img{
    width: 100px;
}

header > h1{
    color: var(--primary-color);
}

/* ? menu  */

.dashboard-card{
    margin-top: 100px;
}


.card{
    width: 100%;
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 0px 0px 10px 7px rgb(225, 222, 222);
    color: var(--gray-color);
    
}

.card > img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.card > div{
    padding: 0px 25px;
    line-height: 32px;
}

.card > div > p{
    margin-bottom: 50px;
}

.card button{
    width: 300px;
    padding: 10px;
    color: var(--color-white);
    background-color: var(--primary-color);
    font-size: var(--font-size-25);
    border-radius: 10px;
    border: none;
    outline: none;
}

