
.zambrug > .orqaga{
    top: 270px;
}

.accordion-container {
  max-width: 1000px;
  margin: 10px auto;
  background: #fff;
  border: 1px solid #dce2f0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Inter", sans-serif;
}

.accordion-item {
  border-bottom: 1px solid #e2e8f0;
}

.accordion-header {
  width: 100%;
  text-align: center;
  background: #eef5ff;
  border: none;
  outline: none;
  padding: 20px;
  font-size: var(--font-size-20);
  font-weight: 500;
  color: #1e3a8a;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}

.accordion-header:hover {
  background: #dbeafe;
}

.accordion-header.active {
  background: #bfdbfe;
}

.accordion-content {
  background: #ffffff;
  padding: 50px;
  animation: fadeIn 0.3s ease-in-out;
  position: relative;
}

.accordion-content p {
  color: #374151;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  /* justify-content: space-between; */
}


.do-btn,
.refresh-btn {
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
  font-size: var(--font-size-20);
  position: absolute;
  bottom: 5px;
}

.do-btn {
    background: #2563eb;
    color: white;
    left: 50%;
}

.do-btn:hover {
  background: #1d4ed8;
}

.refresh-btn {
  background: #e2e8f0;
  color: #1f2937;
  left: 30%;
}

.refresh-btn:hover {
  background: #cbd5e1;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
